.formContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.title {
    color: #5d5b8d;
    font-size: 20px;
}

.error {
    color: red;
    font-size: 12px;
}

.formContainer .formWrapper form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formContainer .formWrapper form input {
    padding: 15px;
    border: none;
    border-bottom: 1px solid #a7bcff;
}

.formContainer .formWrapper form input::placeholder {
    color: #afafaf;
}

.formContainer .formWrapper form button {
    background-color: rgba(255, 87, 51, 0.7);
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.formContainer .formWrapper form label {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #8da4f1;
    font-size: 12px;
    cursor: pointer;
}

.formContainer .formWrapper form label img {
    width: 32px;
}

.formContainer .formWrapper p {
    color: #5d5b8d;
    font-size: 12px;
    margin-top: 10px;
}