/*
 * 1. GENERAL
 * 2. MESSAGE
 * 3. VIDEO
 * 4. BUTTON
 * 5. ANIMATION
 * 6. MDC OVERRIDES
 * 7. CIRCLE POINTER
 * 8. RESPONSIVE
 * 9. OTHER
 */
/**********************************************************
 * GENERAL
 *********************************************************/
.sitewide {
  animation: breathing 4s infinite;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  animation: breathing 4s infinite;
  text-align: center;
}

#load {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 13px;
}

.header {
  width: 100%;
  height: 30px;
  padding: 16px;
  background-color: #333;
  color: #fff;
  margin: 0;
  float: top;
  position: static;
  background-color: rgb(221, 61, 61);
  text-align: center;
}

.img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/*---------------------------------------------------------*/

/**********************************************************
 * 2. MESSAGE
 *********************************************************/
#message {
  background: white;
  max-width: 360px;
  margin: 100px auto 16px;
  padding: 32px 24px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#message h1 {
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 0 16px;
}

#message h2 {
  color: #FFA100;
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 8px;
}

#message p {
  line-height: 140%;
  margin: 16px 0 24px;
  font-size: 14px;
  padding: 10px;
}

#message a {
  display: block;
  text-align: center;
  background: #039BE5;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 16px;
  border-radius: 4px;
}
/*---------------------------------------------------------*/

/**********************************************************
 * 3. ANIMATION
 *********************************************************/
@keyframes breathing {
  0% { background-color: rgba(255, 87, 51, 0.7); }
  50% { background-color: rgba(217, 19, 138, 0.7); }
  100% { background-color: rgba(255, 87, 51, 0.7); }
}
/*---------------------------------------------------------*/

/**********************************************************
 * 4. CIRCLE POINTER
 *********************************************************/
.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
}
/*---------------------------------------------------------*/

/**********************************************************
 * 5. RESPONSIVE
 *********************************************************/
/*@media (max-width: 600px) {
  main, #message {
    margin-top: 0;
    background: white;
    box-shadow: none;
  }

  main {
    border-top: 16px solid #FFA100;
  }
}*/
/*---------------------------------------------------------*/

/**********************************************************
 * 6. BUTTON
 *********************************************************/
.Button {
  background-color: rgba(255, 87, 51, 0.7);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.Button:hover {
  background-color: rgba(217, 19, 138, 0.7);
}

.Button:active {
  background-color: rgba(255, 87, 51, 1);
  transform: scale(0.95);
}

.Button:visited {
  text-decoration: none;
}

.interact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Adjust margin as needed */
}

.interact p {
  margin: 0 10px; /* Add spacing between text and buttons */
}
/*---------------------------------------------------------*/